<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cg.mapper.ArticleMapper">
<!--void GetHotArticle();-->
    <select id="GetHotArticle" resultType="com.cg.entity.Article">
        select * from sg_article
            limit 0,9
    </select>

<!--    List<Category> ClassifyCategory(@Param("categoryId") Long categoryId,
                                    @Param("pageNum") Integer pageNum,
                                    @Param("pageSize") Integer pageSize);-->
    <select id="ClassifyCategory" resultType="com.cg.entity.Article">
        select * from sg_article
            where category_id = #{categoryId}
            order by is_top DESC
            limit #{pageNum},#{pageSize}
    </select>

<!--    List<Article> GetArticleByCIdCount(@Param("categoryId") Long categoryId);-->
    <select id="GetArticleByCIdCount" resultType="integer">
        select count(id) from sg_article
            where category_id = #{categoryId}
    </select>

<!--    List<Article> GetArticleById(Long id);-->
    <select id="GetArticleById" resultType="com.cg.entity.Article">
        select * from sg_article
            where id = #{id}
    </select>

</mapper>
