<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cg.mapper.CategoryMapper">
<!--    List<Article> GetCategory();-->
    <select id="GetCategory" resultType="com.cg.entity.Category">
        select * from sg_category
    </select>

<!--    List<Category> GetCategoryByIds();-->
    <select id="GetCategoryByIds" resultType="com.cg.entity.Category">
        select * from sg_category
            where id IN
            <foreach collection="ids" open="(" close=")" item="ids" separator=",">
                #{ids}
            </foreach>
    </select>
</mapper>
