<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cg.mapper.CommentMapper">
<!--    List<Comment> GetComment(@Param("articleId") Long articleId,
                             @Param("pageNum") Integer pageNum,
                             @Param("pageSize") Integer pageSize);-->
    <select id="GetComment" resultType="com.cg.entity.Comment">
        select * from comment
            where article_id = #{articleId}
            order by create_time desc
            limit #{pageNum},#{pageSize}
    </select>

<!--    Integer GetCommentByArticleIdCount(Integer articleId);-->
    <select id="GetCommentByArticleIdCount" resultType="integer">
        select count(id) from comment
            where article_id = #{articleId}
    </select>

<!--    List<Comment> GetCommentById(Long id);-->
    <select id="GetCommentById" resultType="com.cg.entity.Comment">
        select * from comment
            where root_id = #{id}
    </select>

<!--    Integer AddComment(Comment comment);-->
    <insert id="AddComment">
        insert into comment
            (article_id,root_id,content,to_comment_user_id,to_comment_id,
             create_by,create_time,update_by,update_time)
            values (#{articleId},#{rootId},#{content},#{toCommentUserId},#{toCommentId}
            ,#{createBy},#{createTime},#{updateBy},#{updateTime})
    </insert>

</mapper>
