<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cg.mapper.LoginMapper">
<!--    Login GetLoginByName(String name);-->
    <select id="GetLoginByName" resultType="com.cg.entity.User">
        select * from test_login
            where name = #{name}
    </select>

</mapper>
